{% extends 'base.html' %}
{% load trip_helper %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid about_us_image no_padding">
        <div class="about_us_caption">
            <div class="about_us_title">About us</div>
            <div class="about_us_description">Your OWN TEXT</div>
        </div>
    </div>
    <div class="container-fluid since_number">
        <div class="container">
            <div class="since_block">
                <div class="block_title">Since 2011</div>
                <div class="block_text">{{ about_us.text|safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid our_team_block no_padding">
        <div class="container team">
            <div class="our_team_title">
                our team
            </div>
            {% for i in our_team %}
                <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3 worker">
                    <div class="worker_photo"><img src="{{ i.image.url }}" alt=""></div>
                    <div class="worker_describe">
                        <div class="worker_name">{{ i.name }}</div>
                        <div class="worker_position">{{ i.position }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if testimonials.count >= 1 %}
    <div class="container-fluid what_clients_says">
        <div class="container">
            <div class="title_block">
                <div class="under_title">testimonials</div>
            </div>
            <div class="clients_slider">
                {% for i in testimonials %}
                    <div class="clients_comment">
                        <div class="comment_text">
                            {{ i.text|safe }}
                        </div>
                        <div class="client_block">
                            <div class="client_photo"><img src="{{ i.image.url }}" alt=""></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block FAQ %}{% endblock %}
{% block custom_scripts %}
    <script src="{% static 'js/about_us.js' %}">
    </script>
{% endblock %}