{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="title_block">
            <div class="title">THINGS TO-DO</div>
        </div>
        <div class="posts">
            {% for i in things_to_do %}
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 small post">
                    <div class="post_block"><img src="{{ i.image.url }}" alt="">
                        <div class="more"><a
                                href="{% url 'things_page' i.id %}" class="category_link">{{ i.title }}</a>
                            <a href="{% url 'things_page' i.id %}" class="more_about">View tours <i
                                    class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% if things_to_do.num.pages > 1 %}
        <div class="pagination_block">
            <ul class="pagination">
                {% if things_to_do.has_previous %}
                    <li>
                        <a href="?page={{ things_to_do.previous_page_number }}">{{ things_to_do.previous_page_number }}</a>
                    </li>
                {% endif %}
                <li class="active"><a href="#">{{ things_to_do.number }}</a></li>
                {% if things_to_do.has_next %}
                    <li><a href="?page={{ things_to_do.next_page_number }}">{{ things_to_do.next_page_number }}</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    </div>
{% endblock %}