{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'css/font-awesome/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'js/popup_master/dist/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/header-logo.png' %}" type="image/png">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Redrock</title>

    <!-- Bootstrap -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="modal_overlay">
    <div class="thanks_modal col-lg-9 col-md-9 col-sm-9 col-xs-9">

    </div>
</div>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="hamburger">
    <a href="#" class="mobile-hamburger">
        <i class="fa fa-bars "></i>
    </a>
</div>
<div class="mobile-menu">
    <div class="overlay">
        <div class="mobile_navigation">
            <div class="mobile_logo"><a href=""><img src="{% static 'img/footer-logo.png' %}" alt=""></a></div>
            <ul class="mobile-menu-list">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'index' %}#things">Thing To-Do</a></li>
                {#                <li><a href="{% url 'index' %}#trip_planner">Trip Planner</a></li>#}
                <li><a href="{% url 'index' %}#popular_tours">Tours</a></li>
                <li><a href="{% url 'index' %}#travelers_photo">Gallery</a></li>
                <li><a href="{% url 'index' %}#blog">Blog</a></li>
                <li><a href="{% url 'index' %}#map">Map</a></li>
                <li><a href="{% url 'about_us' %}">Our team</a></li>
                <li><a href="{% url 'contacts' %}">Contacts</a></li>
                <li><a href="" class="close-menu">Close</a></li>
            </ul>
        </div>
    </div>
</div>
{% block menu %}
    <div class="container-fluid no_padding border-bottom-nav">
        <div class="container">
            <div class="navigation black-navigation">
                <div class="logo"><a href="/"><img src="{% static 'img/header-logo.png' %}" alt=""></a></div>
                <div class="right_side">
                    <div class="contacts">
                        <div class="number"><p>+996 (312) 98 65 85</p></div>
                        <a href="#FAQ" class="callback"><span>CALLBACK</span></a>
                    </div>
                    <div class="menu black">
                        <ul class="menu_list">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'index' %}#things">Thing To-Do</a></li>
                            {#                            <li><a href="{% url 'index' %}#trip_planner">Trip Planner</a></li>#}
                            <li><a href="{% url 'index' %}#popular_tours">Tours</a></li>
                            <li><a href="{% url 'index' %}#travelers_photo">Gallery</a></li>
                            <li><a href="{% url 'index' %}#blog">Blog</a></li>
                            <li><a href="{% url 'index' %}#map">Map</a></li>
                            <li><a href="{% url 'about_us' %}">Our team</a></li>
                            <li><a href="{% url 'contacts' %}">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
{% endblock %}
{% block FAQ %}
    <div class="container-fluid any_questions" id="FAQ">
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             id="thanks">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="title_block">
                <div class="title fs-32">any questions?</div>
                <div class="sub-title">Fill the form below and get free consultation</div>
            </div>
            <form action="{% url 'feedback' %}" class="fill-form" method="post">
                {% csrf_token %}
                {#                <input type="text" placeholder="Phone">#}
                {{ feedback_form.phone }}
                {{ feedback_form.email }}
                {#                <input type="email" placeholder="E-mail">#}
                {{ feedback_form.text }}
                {#                <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>#}
                <button type="submit" class="submit_form">callback</button>
            </form>
        </div>
    </div>
{% endblock %}
<div class="container-fluid footer">
    <div class="container footer-block">
        <div class="col-md-2 col-sm-2 col-xs-12 footer-logo"><a href="{% url 'index' %}"><img
                src="{% static 'img/footer-logo.png' %}" alt="">
        </a>
            <p>All rights reserved</p></div>
        <div class="col-md-3 col-sm-3 col-xs-12 footer-navigation">
            <div class="left-side">
                <ul>
                    <li><a href="{% url 'index' %}" class="false_link">Home</a></li>
                    <li><a href="{% url 'index' %}#things" class="false_link">Things to do</a></li>
                    {#                        <li><a href="{% url 'index' %}#trip_planner">Trip planner</a></li>#}
                    <li><a href="{% url 'index' %}#popular_tours" class="false_link">Tours</a></li>
                    <li><a href="{% url 'index' %}#travelers_photo" class="false_link">Gallery</a></li>
                </ul>
            </div>
            <div class="right-side">
                <ul>
                    <li><a href="{% url 'about_us' %}">Our team</a></li>
                    <li><a href="{% url 'contacts' %}">Contacts</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 social_block">
            <div class="footer-title">follow us</div>
            <div class="social-list">
                <ul>
                    <li><a href=""><i class="fa fa-facebook"></i>Facebook</a></li>
                    <li><a href=""><i class="fa fa-instagram"></i>Instagram</a></li>
                    <li><a href=""><i class="fa fa-flickr" aria-hidden="true"></i>Flickr</a></li>
                    <li><a href="https://www.youtube.com/channel/UC8Qjvf98WyAHdW-IaITxu0g"><i
                            class="fa fa-youtube-play" aria-hidden="true"></i>Youtube</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-5 col-xs-12 col-md-5 subscribe">
            <div class="footer-title not-center">Subscribtion to newsletter</div>
            <div class="form-description">
                Enter your e-mail to know the latest news
                about traveling in Kyrgyzstan
            </div>
            <form action="{% url 'subscriber_create' %}" class="subscribe-form">
                {% csrf_token %}
                {{ form.email }}
                <button class="subscribe_button">subscribe</button>
            </form>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/mobile.js' %}"></script>
<script src="{% static 'slick/slick.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.submit_form').on('click', function (event) {
            event.preventDefault();
            var that = this;
            $.ajax({
                method: 'POST',
                dataType: 'JSON',
                url: '{% url 'feedback' %}',
                data: $(that).parent().serialize(),
                success: function (response) {
                    var feedback_message = $('.thanks_modal');
                    if (response.success) {
                        $(feedback_message).html('Thank you for your request! We will contact with you as soon as possible.')
                        $('.modal_overlay').fadeIn("slow");
                    }
                    else {
                        $(feedback_message).html('Please fill the form correctly and try again')
                        $('.modal_overlay').fadeIn("slow");
                    }
                },
                error: function () {
                    console.error('Can\'t send request');
                }

            })
        })
        $('.subscribe_button').on('click', function (event) {
            event.preventDefault();
            var that = this;
            $.ajax({
                method: 'POST',
                dataType: 'JSON',
                url: '{% url 'subscriber_create' %}',
                data: $(that).parent().serialize(),
                success: function (response) {
                    var subscribe_message = $('.thanks_modal');
                    if (response.success) {
                        $(subscribe_message).html('Thanks for subscribe');
                        $('.modal_overlay').fadeIn("slow");
                    }
                    else {
                        $(subscribe_message).html('This email already exists. Please try again!');
                        $('.modal_overlay').fadeIn("slow");
                    }
                },
                error: function () {
                    console.error('Can\'t send request');
                }

            })
        })
        $('.modal_overlay').on('click', function () {
            $(this).fadeOut("slow")
        })

    })
</script>
{% block custom_scripts %}
{% endblock %}
</body>