{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid gallery_block">
        <div class="container">
            <div class="title_block">
                <div class="title">travelers photos</div>
            </div>
            <div class="posts">
                {% for i in travelers_photo %}
                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 gallery_post">
                        <a href="{% url 'photo_page' i.id %}">
                            <div class="gallery_post_block"><img src="{{ i.image.url }}" alt="">
                                <div class="gallery-photo-caption">
                                    <div class="photo-title">{{ i.title }}</div>
                                    <div class="photo-author">{{ i.author }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <nav aria-label="Page navigation example" class="pagination_block">
            <ul class="pagination">
                {% if travelers_photo.has_other_pages %}
                    <li class="page-item">{% if travelers_photo.has_previous %}
                        <a class="page-link"
                           href="?page={{ travelers_photo.previous_page_number }}">{{ travelers_photo.previous_page_number }}
                        </a>{% endif %}</li>

                    <li class="current page-item active">
                        <a href="?page={{ travelers_photo.number }}">{{ travelers_photo.number }}</a>
                    </li>
                    <li class="page-item">
                        {% if travelers_photo.has_next %}
                            <a class="page-link"
                               href="?page={{ travelers_photo.next_page_number }}">{{ travelers_photo.next_page_number }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
{% block FAQ %}{% endblock %}