{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid tour-image no_padding">
        <img src="{{ photo.image.url }}" alt="">
        <div class="tour_caption">

        </div>
    </div>
    <div class="container photo_block">
        <div class="tour_title photo_title">{{ photo.title }}</div>
        <div class="tour-description photo_description">{{ photo.description|safe }}</div>
    </div>
{% endblock %}
{% block FAQ %}{% endblock %}